@model IEnumerable<Domain.Entities.Document>

@{
    /**/

    Layout = "~/Views/Shared/_TeamleaderLayout.cshtml";
}



@using (Html.BeginForm())
{

    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Projects List</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Projects</li>
                        <li class="breadcrumb-item active">Projects List</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                    <div class="bh_chart hidden-xs">
                        <div class="float-left m-r-15">
                            <small>Visitors</small>
                            <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                        </div>
                        <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                    </div>
                    <div class="bh_chart hidden-sm">
                        <div class="float-left m-r-15">
                            <small>Visits</small>
                            <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                        </div>
                        <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                    </div>
                    <div class="bh_chart hidden-sm">
                        <div class="float-left m-r-15">
                            <small>Chats</small>
                            <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                        </div>
                        <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row clearfix">
        @foreach (var item in Model)
        {

            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="javascript:void(0);">
                            <div class="hover">

                            </div>
                            <div class="icon">
                                <img src="@Url.Content(item.Path)" alt="Document" class="fa fa-file text-info" style="height:50px;width:100px;" />
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">@Html.DisplayFor(modelItem => item.DocumentName)</p>
                                <small>Size: @Html.DisplayFor(modelItem => item.Size) <span class="date text-muted">Created :@Html.DisplayFor(modelItem => item.DateCreation)</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}

